root = true

# Default for all files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown: preserve trailing spaces (used for line breaks)
[*.md]
trim_trailing_whitespace = false
